

body {
    background-image: url('https://bdygoubdkehbckhaomol.supabase.co/storage/v1/object/public/images-frlopez/movie-bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vh;
    background-position: center center;
    background-attachment: fixed;

}